body{
    background:url("showcase.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
.main{
    width:260px;
    height:400px;
    background:#ff9d00e1;
    position:relative;
    left:340px;
    margin-top:150px;
    float:center;
    margin-bottom:70px;
    padding:10px;
    border:5px solid #ff9d00e1;
    border-radius:20px;
    text-align:center;
    font-size:40px;
    font-family:"cursive";
    font-weight:bold;
   
}
#email{
    font-family:"cursive";
    border: 1px solid black;
    border-radius:20px;
    width:80%; 
    padding-left:5px;
    margin-bottom:0px;
    position:relative;
    bottom:50px;
}
#Password{
    font-family:"cursive";
    border: 1px solid black;
    border-radius:20px;
    width:80%;
    padding-left:5px;
    position:relative;
    bottom:48px;
    
}
.spec{
    color:white;
    font-size:20px;
    margin:0px;
    text-align:center;
    position:relative;
    bottom:35px;
}
.terms{
    color:white;
    font-size:20px;
    position: relative;
    bottom:60px;
}
.open{
    position:relative;
    bottom:80px;
    background:blue;
    border:6px solid blue;
    border-radius:10px;
    color:white;
    font-weight:500;
    text-align:center;
    font-family:sans-serif;
}
a{
    color:white;
    text-decoration:none;
    }
